[Unit]
Description=Remove the Bitcoin Core server's private Onion key to force it to generate a new key.
RequiresMountsFor=%h/container-volumes/bitcoin-core-server-data

[Service]
Type=oneshot
ExecStart=/usr/bin/rm --force %h/container-volumes/bitcoin-core-server-data/onion_v3_private_key

[Install]
WantedBy=default.target