[Unit]
Description=Regularly refresh the Bitcoin Core server's private Onion key to improve anonymity.

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target